os: linux
language: python
python:
- "2.7"
- "3.4"
- "3.5"
- "3.6"
- "pypy"
addons:
  apt:
    packages:
    - libusb-1.0-0
    - libudev-dev
    - doxygen
    sources:
    - ubuntu-toolchain-r-test
# Note: "doxygen" actually comes from "apt-get build-deps libusb-1.0-0", but
# there is no direct travis equivalent.
before_script:
- ./buildTestLibusb.sh https://github.com/libusb/libusb.git libusb.git master v1.0.6 v1.0.20
install: pip install .
script: python -m usb1.testUSB1
env:
- LD_LIBRARY_PATH=
- LD_LIBRARY_PATH=test-libusb/build/libusb.git/master/lib
- LD_LIBRARY_PATH=test-libusb/build/libusb.git/v1.0.6/lib
- LD_LIBRARY_PATH=test-libusb/build/libusb.git/v1.0.19/lib
